@text-body: #666;


/* style_variables.less
 *************************************************************************************************************************/

@base-font-size: 14px; /* 20140929: Previously 0.85em, but we don't want user selected sizes because it breaks around */
@accent-color: #0099cc;
@background-color: #FEFDFC;
@link-color: #9C010F;

@red: #9C010F;
@green: #94AF4B;
@green-progress-bar: @status-progress-bar-color-ok; // Progress bars and trust-stars
@blue: #48b0f7;
@yellow: #FFFF90;

@mobile-menu: false;
@button-reversed: false;

@local-error-color: #CC0000;
@local-unsub-color: #404040;
@local-open-color: #2040B0;
@local-click-color: #007030;
@local-abuse-color: #EEEE00;
@local-delayed-color: #b39601;
@local-todo-color: #c2b798;

@zindex-dialog: 1005;
@zindex-dialog-modal: 1004;
@zindex-popup: 1003;
@zindex-tooltip: 1004;
@zindex-thead: 1001; // Defined by thead plugin

@elysia_nodes_property_label-width: 10em;
@status-progress-bar-color-ok: #48AF26;



/* style_mosaico.less
 *************************************************************************************************************************/

@leftsidebar-width: 400px;
@rightsidebar-width: 340px;
@mainarea-minwidth: 600px;
@topbar-height: 50px;

@screen-sm-max: 480px; // TODO Remove me, not used by mosaico (see style_page and style_admin)
@screen-md-max: 1020px; // TODO Remove me, not used by mosaico (see style_page and style_admin)
@screen-lg-max: 1460px; // Mosaico live preview will show beyond this

@mosaico-text-color: @text-color;
@mosaico-background-color: @background-color;
@mosaico-ui-background-color: @sidebar-background-color;
@mosaico-input-border-color: @input-border-color;
@mosaico-button-text-color: @button-text-color;
@mosaico-button-background-color: @button-background-color;
@mosaico-button-background-color-hover: @button-hover-background-color;
@mosaico-button-border-color: @button-border-color;
@mosaico-button-shadow-color: lighten(#fff - @mosaico-button-background-color, 30%); // Used in content
@mosaico-object-background-color: @object-background-color;
@mosaico-object-border-radius: @object-border-radius;
@mosaico-object-shadow: none;
@mosaico-helpwin-background-color: @helpwin-background-color;
@mosaico-helpwin-text-color: @helpwin-text-color;
@mosaico-accent-color: @accent-color;
@mosaico-outline-color: currentcolor;
@mosaico-shadow-color: #808080;
@mosaico-selection-color: #CC0000;



/* app_standalone_material.less
 *************************************************************************************************************************/

@import 'app_standalone.less';

@base-font-size: 14px;

@accent-color: #566d85; // #A01020; // #ff9800;
@background-color: #f6f6f6;
// @link-color: #ff9800;
// @link-color: #ff5722; // #ea1c0d;
@link-color: #48b0f7; // #ea1c0d;

@font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", Arimo, sans-serif;
@standard-border-radius: 2px;
@info-border-radius: @standard-border-radius;
@button-border-radius: @standard-border-radius;
@large-balloon-border-radius: 2px; 

@object-background-color: #DDDDDD;
// @mosaico-object-shadow: 1px 1px 2px lighten(@shadow-color, 30%);

@input-background-color: white;
@input-border-color: lighten(@text-color, 20%);

@mosaico-selection-color: @link-color;

@button-background-color: @link-color;
@button-border-color: transparent;

@ui-tabs-panel-padding: 0;




/* style_mailee.less
 *************************************************************************************************************************/

// reset: background
#toolbar .ui-button-disabled { background: none; }

// reset: border
.mo-standalone #main-toolbox #tooltabs.ui-tabs>.ui-tabs-nav, .mo .objLabel, #toolbar .ui-button, #main-toolbox .objEdit.selecteditem:after, #main-toolbox .objEdit.level1.selectable:hover:after { border: 0 !important; outline: 0 !important;  }

// reset: display
#loading, #main-edit-area:before, #main-edit-area:after, #frame-container:before, #frame-container:after, #main-toolbox .draggable-item .addblockbutton, .objPreview, #main-wysiwyg-area replacedbody:before, #main-wysiwyg-area replacedbody:after { display: none !important; }

// reset: margin
.mo .objLabel, .mo .ui-button, .mo .ui-buttonset>.ui-button, #main-edit-area .tools .tool { margin: 0 !important; }

// reset: padding
#toolbar, .mo-standalone #main-toolbox #tooltabs.ui-tabs>.ui-tabs-nav, .mo .objLabel { padding: 0 !important; }

// reset: box-shadow
#main-toolbox .draggable-item .image, #main-toolbox .draggable-item .block img, #main-toolbox .draggable-item:hover .block img, #main-toolbox #tooltabs.ui-tabs>.ui-tabs-nav, .mo .objEdit  { box-shadow: none !important; }


.mo .ui-tabs.tabs_horizontal.button_color>ul li.ui-state-active a, .mo .objLabel { color: @text-body !important; }


// buttons
.ui-button { font-weight: 500 !important; transition: background-color .1s; }
.ui-button .ui-button-text { color: #fff; }


// forms
.mo .propInput input, .mo .propInput input:hover, .mo .propInput input:focus, 
.mo .propInput select, .mo .propInput select:hover, .mo .propInput select:focus, 
.mo .propInput .ui-spinner .ui-spinner-input, .mo .propInput .ui-spinner .ui-spinner-input:hover, .mo .propInput .ui-spinner .ui-spinner-input:focus { 
    background-color: #fff !important;; border: 1px solid #ddd !important;
    background-image: none !important;;
    font-family: Arial,sans-serif !important;;
    -webkit-appearance: none !important;;
    outline: 0 !important;;
    height: 35px !important;;
    padding: 9px 12px !important;;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    min-height: 35px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background .2s linear 0s;
    transition: background .2s linear 0s;
} 


.mo .propInput input:focus, .mo .propInput select:focus, .mo .propInput .ui-spinner .ui-spinner-input:focus {
    background-color: #f0f0f0;
    border-color: @blue !important;
    outline: 0!important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.mo .propInput .data-select select { padding-right: 25px !important; border-radius: 2px; }
.mo .propInput .data-select:after, .mo .propInput .data-select:hover:after { background: none; color: #999 !important; }



// toast
#toast-container { bottom: 30px; margin: 0; right: 30px; width: 400px !important; }
#toast-container .toast { width: 100% !important; }
#toast-container .toast:hover { box-shadow: none; }

// misc
.mo .fa { margin-right: .5em; }
#main-toolbox .block-list { max-width: 100%; }

#main-toolbox { box-shadow: 0 0 10px rgba(0,0,0,.1), 0 0 5px gray; }
#main-toolbox #tooltabs.ui-tabs .ui-tabs-nav li { margin: 0; width: 33.3%; }
#main-toolbox #tooltabs.ui-tabs .ui-tabs-nav li a { border: 0; font-size: .85em; font-weight: 500; line-height: @topbar-height; }
#main-toolbox #tooltabs.ui-tabs .ui-tabs-nav li:not(.ui-state-active) a { color: #fff; }
#main-toolbox #tooltabs.ui-tabs .ui-tabs-panel { padding: 2em; }
#main-toolbox .noSelectedBlock, #main-toolbox .customStyleHelp, #main-toolbox .objEmpty { background: #e6e6e6; font-size: 1em; line-height: 22px; margin: 0; width: 100%; }


#toolbar { .align-vertically; }
#toolbar .rightButtons { margin-left: auto; }
#toolbar .ui-button { background: transparent; line-height: @topbar-height; padding: 0 1.5em !important; }
#toolbar .ui-button:hover { background-color: rgba(0,0,0,.15) }
.mo .ui-buttonset { margin-right: 0; }
#toolbar .ui-button .ui-button-text, #toolbar .ui-button .ui-icon { color: #cfddec; }
#toolbar .ui-button-disabled, #toolbar .ui-button-disabled:hover { background: @accent-color; }
#toolbar .ui-button.ui-button-disabled .ui-button-text, #toolbar .ui-button.ui-button-disabled .ui-icon { color: #8da2b9; }
    
.mo .ui-tabs.tabs_horizontal.button_color>ul li>a:hover { border: 0; }

#main-toolbox .draggable-item { background-color: #fff; border: 1px solid #ddd; margin-bottom: 15px; padding: 10px; border-radius: 3px; transition: all .1s; }
#main-toolbox .draggable-item:hover { border-color: #bbb; transform: scale(1.01); box-shadow: 0 3px 0 0 rgba(0,0,0,.08); }
#main-toolbox .draggable-item .block .handle { cursor: -webkit-grab; }
#main-toolbox #tooltabs.ui-tabs .ui-tabs-nav li a { border-radius: 0; }

.mo .objLabel { margin: 0 !important; text-transform: none; }
.mo .objEdit { margin-bottom: 20px; }

#main-wysiwyg-area replacedbody { background-color: #fff !important; max-width: 100%; padding: 30px !important; }
#main-edit-area #main-wysiwyg-area:not(.isdragging):not(.isdraggingimg) .editable .mo-blockselectionhelper { background-color: rgba(138,208,237,.15); bottom: 0; left: 0; top: 0; outline: #78ABC1 solid 2px !important; right: 0; z-index: 2; }
#main-edit-area .sortable-blocks-edit.empty { border-color: #ccc; margin: 20px 0; animation: none; border-radius: 5px; }
.mo-blockselectionhelper, #main-edit-area #main-wysiwyg-area:not(.isdragging):not(.isdraggingimg) .mce-content-body.selecteditem:after { border: 0 !important; }

#main-edit-area .tools { visibility: visible !important; }
#main-edit-area .tools .tool { margin: 0; box-shadow: none; }

#main-edit-area .sortable-placeholder::after { border: 1px; }

.selected .mo-blockselectionhelper { z-index: -1 !important; }


// helpers
.align-vertically { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; }
.align-vertically > .pull-right { margin-left: auto; }